.main {
	.galeria {
		width: 100%;
		padding-top: 50px; 
		overflow: hidden;
		.thumb {
			width: 25%;
			float: left;
			img {
				width: 100%;
				vertical-align: top;
				opacity: .7;
				&:hover {
					opacity: 1;
					-webkit-transition: all .3s ease;
					-o-transition: all .3s ease;
					transition: all .3s ease;
				}
			}
		}
	}
}