.main{
	.menu {
		padding-top: 550px;
		.titulo {
			text-align: center;
			font-size: 45px;
			font-weight: 300;
		}
		.caja1 {
			width: 100%;
			border: 1px solid #000;
			background: transparent;
			padding: 10px; 
			overflow: hidden;
			.caja2 {
				width: 100%;
				border: 1px solid #000;
				background: transparent;
				padding: 10px; 
				overflow: hidden;
				article {
					width: 50%;
					float: left;
					padding: 20px;
					.categoria {
						text-align: center;
						font-size: 23px;
						font-weight: 700;
						margin-bottom: 40px;
					}
					.platillo {
						margin-bottom: 30px;
						padding-bottom: 20px;
						border-bottom: 4px dotted #000;
						.nombre {
							font-size: 20px;
							margin-bottom: 15px;
							float: left;
						}
						.precio {
							font-size: 20px;
							margin-bottom: 15px;
							float: right;
						}
						.descripcion {
							clear: both;
							font-size: 16px;
							color: #676767;
						}
					}
				}
			}
		}

	}
}
